.osdonate-form{

}
.osdonate-form input[type="text"]{
	width:auto;
	min-width:60px;
}
.osdonate-form select{
	width:auto;
	min-width:75px;
}
.osdonate-introtext{
    text-align: left;
}
.osdonate-amount{
    text-align:right;
}
.osdonate-sticky-hover{
    text-align:center;
    position:fixed;
}
#osdonatestatic{
    text-align:center;
}